@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

/* reset */

* {
    box-sizing: border-box;
}

html.fixed {
    overflow: hidden;
}

body {
    position: relative;
    font-family: 'Noto Sans TC', sans-serif, 'Microsoft JhengHei', arial;
    padding: 0;
    margin: 0;
    font-size: 0.9vw;
    color: #505050;
    background: black;
}

body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .45;
    background-image: url('../images/city_background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
}

ul,
li,
figure,
figcaption {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active,
input,
select,
button {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    outline: none;
}

h2 {
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: 0.2em;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
    color: #0094a8;
}

h3 {
    font-size: 1.3vw;
    margin-top: 0;
    margin-bottom: 0.5em;
    letter-spacing: 0.2em;
    color: #0094a8;
}

button {
    cursor: pointer;
}

img {
    border: none;
    outline: none;
    max-width: 100%;
}

p {
    letter-spacing: 0.2em;
    line-height: 1.6;
    margin-top: 0;
}

mark {
    background: none;
}


/* start */

.wrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
}

.area {
    position: relative;
    padding: 8em 0;
}

a.button {
    display: inline-block;
    background: #0094a8;
    color: white;
    padding: 0.2em 0.6em;
    margin: 1em 0;
    opacity: 1;
    transition: .5s;
}

@-moz-keyframes setRotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes setRotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes setRotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (hover: hover) {
    a.button:hover {
        opacity: .5;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    body {
        background-image: url('../images/city_background.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
    body::before {
        display: none;
    }
    a.button:hover {
        opacity: .5;
    }
}

@media screen and (max-width: 1900px) {
    body {
        font-size: 1.1vw;
    }
}

@media screen and (max-width: 1440px) {
    body {
        font-size: 1.3vw;
    }
    .wrapper {
        width: 75%;
    }
    h2 {
        font-size: 2.4vw;
    }
    h3 {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 1280px) {
    .area {
        padding: 6em 0;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 1.6vw;
    }
    .wrapper {
        width: 85%;
    }
    h2 {
        font-size: 3vw;
    }
    h3 {
        font-size: 2vw;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 2vw;
    }
    .wrapper {
        width: 90%;
    }
    h2 {
        font-size: 3.6vw;
    }
    h3 {
        font-size: 2.4vw;
    }
}

@media screen and (max-width: 720px) {
    body {
        font-size: 2.5vw;
    }
    h2 {
        font-size: 4.5vw;
    }
    h3 {
        font-size: 3vw;
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: 3vw;
    }
    .area {
        padding: 4em 0;
    }
    .wrapper {
        width: 92%;
    }
}

@media screen and (max-width: 480px) {
    html.fixed {
        margin-right: 0;
    }
    .content {
        max-width: 100%;
    }
    body {
        font-size: 4vw;
    }
    .area {
        padding: 3em 0;
    }
    h2 {
        font-size: 7vw;
    }
    h3 {
        font-size: 5vw;
    }
    a.button {
        padding: 0.4em 1em;
    }
}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {
    body {
        font-size: 4.5vw;
    }
}